/* @import url("https://fonts.googleapis.com/css2?family=Kings&display=swap"); */
.s-overlay-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10% auto;
}
.s-overlay-header-l {
    transform: rotate(-10deg);
    position: relative;
    top: 70px;
    left: 40px;
}
.s-overlay-header-r {
    transform: rotate(10deg);
    position: relative;
    top: 70px;
    right: 40px;
}

.orange-text {
    color: darkorange;
    font-size: 4rem;
}
#image {
    width: 175px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .orange-text {
        font-size: 1.75rem;
    }
    .s-overlay-header {
        margin: 5% auto;
    }
    .s-overlay-header-r {
        top: 45px;
        right: 20px;
    }
    .s-overlay-header-l {
        top: 45px;
        left: 20px;
    }
    #image {
        width: 75px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .orange-text {
        font-size: 2rem;
    }
    .s-overlay-header {
        margin: 5% auto;
    }
    .s-overlay-header-r {
        top: 55px;
        right: 20px;
    }
    .s-overlay-header-l {
        top: 55px;
        left: 20px;
    }
    #image {
        width: 85px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .orange-text {
        font-size: 2rem;
    }
    .s-overlay-header {
        margin: 5% auto;
    }
    .s-overlay-header-r {
        top: 55px;
        right: 35px;
    }
    .s-overlay-header-l {
        top: 55px;
        left: 35px;
    }
    #image {
        width: 100px;
    } 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .orange-text {
        font-size: 2.5rem;
    }
    #image {
        width: 100px;
    }  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .orange-text {
        font-size: 3rem;
    }
    #image {
        width: 150px;
    }
}