.go-overlay-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

.go-overlay-box{
    width: 50%;
    height: 30%;
    background-color: rgb(32, 31, 31);
    border-radius: 25px;
    box-shadow: 0px 0px 50px silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.go-overlay-box p{
    text-align: center;
    font-size: 200%;
    color: white;
}

#restart-game{
    color: white;
    font-family: "Montserrat";
    background-color: orange;
    border-radius: 25px;
    border: 2px solid white;
    font-size: 125%;
    font-weight: 600;
    padding: 1.25% 2.5%;
    transition: all 0.25s;
}
#restart-game:hover{
    color: rgb(36, 35, 35);
    border-color: rgb(36, 35, 35);
}

.go-show-overlay{
    display: flex;
}

.go-hide-overlay{
    display: none;
}
