.overlay-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

.overlay-box{
    width: 30%;
    height: 70%;
    background-color: grey;
    border-radius: 25px;
    box-shadow: 0px 0px 50px silver;
}
.overlay-box h2{
    text-align: center;
    padding: 10% 20%;
    font-size: 300%;
    color: white;
}

.show-overlay{
    display: flex;
}

.hide-overlay{
    display: none;
}
