.overlay-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

.overlay-box{
    width: 40%;
    height: 70%;
    background-color: rgb(32, 31, 31);
    border-radius: 25px;
    box-shadow: 0px 0px 50px silver;
}
.overlay-box h2{
    text-align: center;
    margin: 10% 0 5% 0;
    font-size: 3rem;
    color: darkorange;
    font-weight: 400;
}

.overlay-controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30%;
}

.show-overlay{
    display: flex;
}

.hide-overlay{
    display: none;
}
.s-overlay-button {
    padding: 1% 5%;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 2rem;
    margin: 3% 0;
    color: white;
    background-color: darkorange;
    border: 2px solid white;
    border-radius: 5px;
}
.s-overlay-button:hover {
    color: rgb(36, 35, 35);
    border-color: rgb(255, 230, 0);
    cursor: pointer;
}



@media only screen and (max-width: 600px) {
    .s-overlay-button{
        border: 2px solid white;
        font-size: 1rem;
        margin-top: 2%;
    }
    .overlay-box h2{
        font-size: 1.5rem;
        margin: 10% 0 5% 0;
    }
    .overlay-box{
        width: 40%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .s-overlay-button{
        border: 2px solid white;
        font-size: 1rem;
        margin-top: 2%;
    }
    .overlay-box h2{
        font-size: 1.75rem;
        margin: 10% 0 5% 0;
    }
    .overlay-box{
        width: 50%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    .s-overlay-button{
        border: 2px solid white;
        font-size: 1.25rem;
        margin-top: 2%;
    }
    .overlay-box h2{
        font-size: 2rem;
        margin: 10% 0 5% 0;;
    }
    .overlay-box{
        width: 50%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .s-overlay-button{
        border: 2px solid white;
        font-size: 1.75rem;
        margin-top: 2.5%;
    }
    .overlay-box h2{
        font-size: 3rem;
        margin: 10% 0 5% 0;
    }
    .overlay-box{
        width: 60%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .s-overlay-button{
        border: 2px solid white;
        font-size: 1.75rem;
        margin-top: 2%;
    }
    .overlay-box h2{
        font-size: 4rem;
        margin: 10% 0 5% 0;
    }
    .overlay-box{
        width: 60%;
    }
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
    .s-overlay-button{
        border: 2px solid white;
        font-size: 2rem;
        margin-top: 2.5%;
    }
    .overlay-box h2{
        font-size: 4rem;
        margin: 10% 0 5% 0;
    }
    .overlay-box{
        width: 40%;
    }
}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
    .s-overlay-button{
        border: 2px solid white;
        font-size: 2.25rem;
        margin-top: 2.5%;
    }
    .overlay-box h2{
        font-size: 4rem;
        margin: 10% 0 5% 0;
    }
    .overlay-box{
        width: 40%;
    }
}