.go-overlay-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9001;
}

.go-overlay-box{
    width: 50%;
    height: 30%;
    background-color: rgb(32, 31, 31);
    border-radius: 25px;
    box-shadow: 0px 0px 50px silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.go-overlay-box p{
    text-align: center;
    font-size: 2rem;
    color: white;
}
.go-overlay-box h2{
    text-align: center;
    font-size: 2rem;
    color: darkorange;
}

#restart-game{
    padding: 1% 5%;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 2rem;
    margin: 3% 0;
    color: white;
    background-color: darkorange;
    border: 2px solid white;
    border-radius: 5px;
}
#restart-game:hover{
    color: rgb(36, 35, 35);
    border-color: rgb(255, 230, 0);
    cursor: pointer;
}

.go-show-overlay{
    display: flex;
}

.go-hide-overlay{
    display: none;
}


@media only screen and (max-width: 600px) {
    .go-overlay-box{
        height: 50%;
    }
    .go-overlay-box p {
        font-size: 1.25rem;
    }
    .go-overlay-box h2 {
        font-size: 1.25rem;
        margin: 0;
    }
    #restart-game{
        font-size: 0.75rem;
        border: 1px solid white;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .go-overlay-box{
        height: 50%;
    }
    .go-overlay-box p {
        font-size: 1.4rem;
    }
    .go-overlay-box h2 {
        font-size: 1.25rem;
        margin: 0;
    }
    #restart-game{
        font-size: 1rem;
        border: 1px solid white;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    .go-overlay-box{
        height: 45%;
    }
    .go-overlay-box p {
        font-size: 1.4rem;
    }
    .go-overlay-box h2 {
        font-size: 1.4rem;
        margin: 0;
    }
    #restart-game{
        font-size: 1rem;
        border: 2px solid white;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .go-overlay-box{
        height: 35%;
    }
    .go-overlay-box p {
        font-size: 1.8rem;
    }
    .go-overlay-box h2 {
        font-size: 2rem;
        margin: 0;
    }
    #restart-game{
        font-size: 1.25rem;
        border: 2px solid white;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .go-overlay-box{
        height: 35%;
    }
    .go-overlay-box p {
        font-size: 1.8rem;
    }
    .go-overlay-box h2 {
        font-size: 2rem;
        margin: 0;
    }
    #restart-game{
        font-size: 1.25rem;
        border: 2px solid white;
    }
}