
.gc-wrapper{
    display: block;
    width: 25vw;
    height: 100vh;
}

.gc-top, .gc-mid, .gc-low{
    position: absolute;
    top: 0;
    left: 0;
}

.gc-top{
    margin-top: 12%;
    margin-left: 8%;
}

.gc-mid{
    display: flex;
    margin-top: 20%;
    margin-left: 0%;
}

.gc-low{
    margin-top: 28%;
    margin-left: 8%;
}

.gc-arrow-right{
    margin-left: 50%;
}
