.win-overlay-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

.win-overlay-box{
    width: 30%;
    height: 70%;
    background-color: rgb(32, 31, 31);
    border-radius: 25px;
    box-shadow: 0px 0px 50px silver;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.win-overlay-header{
    text-align: center;
    font-size: 300%;
    color: white;
    margin: 10% 0 0 0;
    animation-name: heading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes heading{
    from{
        color: white;
    }
    to{
        color: gold;

    }
}

.win-overlay-box h4{
    text-align: center;
    font-size: 200%;
    color: darkorange;
    padding: 0;
    margin: 10% 0 0 0;
}

.show-overlay{
    display: flex;
}

.hide-overlay{
    display: none;
}

#win-restart-game{
    color: white;
    text-align: center;
    font-family: "Montserrat";
    background-color: orange;
    border-radius: 25px;
    border: 2px solid white;
    font-size: 125%;
    font-weight: 600;
    padding: 1.25% 2.5%;
    margin-top: 5%;
    width: 40%;
    transition: all 0.25s;
}
#win-restart-game:hover{
    color: rgb(36, 35, 35);
    border-color: rgb(255, 230, 0);
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .win-overlay-box{
        width: 50%;
    }
    .win-overlay-box h4{
        font-size: 0.8rem;
        margin: 4% 0 0 0;
    }
    .win-overlay-header{
        font-size: 1.5rem; 
        margin: 4% 0 0 0;  
    }
    #win-restart-game{
        font-size: 0.7rem;
        margin-top: 3%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .win-overlay-box{
        width: 50%;
    }
    .win-overlay-box h4{
        font-size: 0.8rem;
        margin: 4% 0 0 0;
    }
    .win-overlay-header{
        font-size: 1.5rem; 
        margin: 4% 0 0 0;  
    }
    #win-restart-game{
        font-size: 0.7rem;
        margin-top: 3%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    .win-overlay-box{
        width: 45%;
    }
    .win-overlay-box h4{
        font-size: 1rem;
        margin: 5% 0 0 0;
    }
    .win-overlay-header{
        font-size: 2rem; 
        margin: 5% 0 0 0;  
    }
    #win-restart-game{
        font-size: 0.75rem;
        margin-top: 3%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .win-overlay-box{
        width: 40%;
    }
    .win-overlay-box h4{
        font-size: 1.5rem;
        margin: 5% 0 0 0;
    }
    .win-overlay-header{
        font-size: 2.5rem; 
        margin: 5% 0 0 0;  
    }
    #win-restart-game{
        font-size: 1rem;
        margin-top: 5%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .win-overlay-box{
        width: 35%;
    }
    .win-overlay-box h4{
        font-size: 2rem;
        margin: 7.5% 0 0 0;
    }
    .win-overlay-header{
        font-size: 2.5rem; 
        margin: 5% 0 0 0;  
    }
    #win-restart-game{
        font-size: 1.5rem;
        margin-top: 7.5%;
    }
}