.ghost{
    position: relative;
    z-index: 999;
    height: 89%;
    width: 89%;
    transform: translate(15%, 10%);
}
.ghost-head {
    position: relative;    
    width: 80%;
    height: 80%;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    z-index: 99;
}


.ghost-eye{
    margin-left: 15%;
    height: 25%;
    width: 20%;
    border-radius: 50%;
    transform: translateY(100%) translateX(30%);
    background-color: rgb(189, 170, 170);
    z-index: 99;
}


.ghost-body {
    position: relative;
    transform: translateY(-80%);
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: row;
    z-index: 99;
}

.ghost-green{
    background: #067314;
}

.ghost-green-edible{
    background:#25f55d;
}

.ghost-blue{
    background: #17077a;
}

.ghost-blue-edible{
    background:#447fff;
}

.ghost-red{
    background: #750707;
}

.ghost-red-edible{
    background: #fd4646;
}

.ghost-orange{
    background: #ff9d0a;
}

.ghost-orange-edible{
    background: #ffe81c;
}

.ghost-spikes{
    position: relative;
    width: 60%;
    height: 80%;
    border-radius: 50%;
    background-color: black;
    transform: translateY(100%);
}


.move-ghost-from-right-to-left{
    animation-name: move-ghost-from-right-to-left;
    animation-delay: 0s; 
    animation-duration: 0.25s; 
    -webkit-animation-name: move-ghost-from-right-to-left; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.25s; /* Chrome, Safari, Opera */
}
.move-ghost-from-left-to-right{
    animation-name: move-ghost-from-left-to-right;
    animation-delay: 0s;
    animation-duration: 0.25s;   
    -webkit-animation-name: move-ghost-from-left-to-right; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.25s; /* Chrome, Safari, Opera */
}
.move-ghost-from-up-to-bottom{
    animation-name: move-ghost-from-up-to-bottom;
    animation-delay: 0s;
    animation-duration: 0.25s;   
    -webkit-animation-name: move-ghost-from-up-to-bottom; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.25s; /* Chrome, Safari, Opera */
}
.move-ghost-from-bottom-to-up{
    animation-name: move-ghost-from-bottom-to-up;
    animation-delay: 0s;
    animation-duration: 0.25s;   
    -webkit-animation-name: move-ghost-from-bottom-to-up; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.25s; /* Chrome, Safari, Opera */
}



@keyframes move-ghost-from-right-to-left {
    0%  {transform:translate(100%, 10%);}
    10%   {transform:translate(90%, 10%);}
    20%   {transform:translate(80%, 10%);}
    30%   {transform:translate(70%, 10%);}
    40%   {transform:translate(60%, 10%);}
    50%   {transform:translate(50%, 10%);}
    60%   {transform:translate(40%, 10%);}
    70%  {transform:translate(30%, 10%);}
    80%   {transform:translate(20%, 10%);}
    90%   {transform:translate(10%, 10%);}
    100%  {transform:translate(0%, 10%);} 
  } 




@keyframes move-ghost-from-left-to-right {
    0%  {transform:translate(-85%, 10%);}
    10%   {transform:translate(-75%, 10%);}
    20%   {transform:translate(-65%, 10%);}
    30%   {transform:translate(-55%, 10%);}
    40%   {transform:translate(-45%, 10%);}
    50%   {transform:translate(-35%, 10%);}
    60%   {transform:translate(-25%, 10%);}
    70%  {transform:translate(-15%, 10%);}
    80%   {transform:translate(-5%, 10%);}
    90%   {transform:translate(5%, 10%);}
    100%  {transform:translate(15%, 10%);} 
  } 



  @keyframes move-ghost-from-up-to-bottom {
    0%  {transform:translate(15%, -80%);}
    10%   {transform:translate(15%, -70%);}
    20%   {transform:translate(15%, -60%);}
    30%   {transform:translate(15%, -50%);}
    40%   {transform:translate(15%, -40%);}
    50%   {transform:translate(15%, -30%);}
    60%   {transform:translate(15%, -20%);}
    70%  {transform:translate(15%, -10%);}
    80%   {transform:translate(15%, -5%);}
    90%   {transform:translate(15%, 0%);}
    100%  {transform:translate(15%, 10%);} 
  }

  @keyframes move-ghost-from-bottom-to-up {
    0%  {transform:translate(15%, 110%);}
    10%   {transform:translate(15%, 100%);}
    20%   {transform:translate(15%, 90%);}
    30%   {transform:translate(15%, 80%);}
    40%   {transform:translate(15%, 70%);}
    50%   {transform:translate(15%, 60%);}
    60%   {transform:translate(15%, 50%);}
    70%  {transform:translate(15%, 40%);}
    80%   {transform:translate(15%, 30%);}
    90%   {transform:translate(15%, 20%);}
    100%  {transform:translate(15%, 10%);} 
  }

