.s-overlay-header {
    display: flex;
    justify-content: space-between;
    margin: 12.5% auto;
}
.s-overlay-header-l {
    transform: rotate(-10deg);
    position: relative;
    top: 45px;
    left: 25px;
}
.s-overlay-header-r {
    transform: rotate(10deg);
    position: relative;
    top: 45px;
    right: 25px;
}

.orange-text {
    color: darkorange;
    ont-size: 1.75rem;
}
#image {
    width: 65px;
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (orientation: landscape) {
    #image {
        width: 25px;
    }
    .orange-text {
        font-size: 1rem;
    }
    .s-overlay-header {
        margin: 9% auto;
    }
    .s-overlay-header-r {
        top: 20px;
        right: 35px;
    }
    .s-overlay-header-l {
        top: 20px;
        left: 35px;
    }
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-device-width: 768px) and (orientation: portrait){
    .orange-text {
        font-size: 2rem;
    }
    .s-overlay-header {
        margin: 10% auto;
    }
    .s-overlay-header-r {
        top: 55px;
        right: 45px;
    }
    .s-overlay-header-l {
        top: 55px;
        left: 45px;
    }
    #image {
        width: 75px;
    } 
}
@media only screen and (min-device-width: 768px) and (orientation: landscape){
    .orange-text {
        font-size: 2rem;
    }
    .s-overlay-header {
        margin: 10% auto;
    }
    .s-overlay-header-r {
        top: 55px;
        right: 40px;
    }
    .s-overlay-header-l {
        top: 55px;
        left: 40px;
    }
    #image {
        width: 100px;
    } 
}

@media only screen and (min-width: 992px) {
    .orange-text {
        font-size: 2.5rem;
    }
    #image {
        width: 75px;
    }  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .orange-text {
        font-size: 3rem;
    }
    #image {
        width: 100px;
    }
} 
@media only screen and (min-width: 1600px) {
    .orange-text {
        font-size: 5rem;
    }
    #image {
        width: 150px;
    }
    .s-overlay-header {
        margin: 10% auto;
    }
    .s-overlay-header-r {
        top: 55px;
        right: 100px;
    }
    .s-overlay-header-l {
        top: 55px;
        left: 100px;
    }
  }
  