.win-overlay-header{
    color: white;
    animation-name: heading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes heading{
    from{
        color: white;
    }
    to{
        color: gold;

    }
}

.win-overlay-box h4{
    text-align: center;
    font-size: 200%;
    color: darkorange;
    padding: 0;
    margin: 10% 0 0 0;
}

/* @media only screen and (max-width: 600px) {
    .win-overlay-box{
        width: 50%;
    }
    .win-overlay-box h4{
        font-size: 0.8rem;
        margin: 4% 0 0 0;
    }
    .win-overlay-header{
        font-size: 1.5rem; 
        margin: 4% 0 0 0;  
    }
} */

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
    .win-overlay-box{
        width: 50%;
    }
    .win-overlay-box h4{
        font-size: 0.8rem;
        margin: 4% 0 0 0;
    }
    .win-overlay-header{
        font-size: 1.5rem; 
        margin: 4% 0 0 0;  
    }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    .win-overlay-box{
        width: 50%;
    }
    .win-overlay-box h4{
        font-size: 0.8rem;
        margin: 4% 0 0 0;
    }
    .win-overlay-header{
        font-size: 1.5rem; 
        margin: 4% 0 0 0;  
    }
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px){
    .win-overlay-box{
        width: 50%;
    }
    .win-overlay-box h4{
        font-size: 1rem;
        margin: 5% 0 0 0;
    }
    .win-overlay-header{
        font-size: 1.5rem; 
        margin: 5% 0 0 0;  
    }
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
    .win-overlay-box{
        width: 45%;
    }
    .win-overlay-box h4{
        font-size: 1.25rem;
        margin: 2% 0 0 0;
    }
    .win-overlay-header{
        font-size: 2rem; 
        margin: 0% 0 0% 0;  
    }
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
    .win-overlay-box{
        width: 50%;
    }
    .win-overlay-box h4{
        font-size: 1.5rem;
        margin: 2.5% 0 0 0;
    }
    .win-overlay-header{
        font-size: 2.5rem; 
        margin: 5% 0 0 0; 
        padding: 0; 
    }
}

@media only screen and (min-width: 1400px) {
    .win-overlay-box{
        width: 50%;
    }
    .win-overlay-box h4{
        font-size: 2rem;
        margin: 2.5% 0 2 0;
    }
    .win-overlay-header{
        font-size: 3rem; 
        margin: 5% 0 0 0; 
        padding: 0; 
    }
} */