  @font-face {
    font-family: 'System';
    src: url('./../../AtariST8x16SystemFont.ttf');
}

.stats.container{
    display: block;
    text-align: center;
}

.stats.content{
    color : white;
    display: inline-block;
    margin: 0px;
    font-size: 2em;
    margin: 0 0.5em 0.5em 0;
    font-family: "System";
    letter-spacing: 10px;
}
