@font-face {
    font-family: 'System';
    src: url('./AtariST8x16SystemFont.ttf');
}

/* Main */
*{
    outline: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    background: black;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.field {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
}
.row {
    height: 50px !important;
}
.empty.field {
    background-color: black;
    z-index: 5;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


/* Stats */

.stats.container{
    display: block;
    text-align: center;
}

.stats.content{
    color : white;
    display: inline-block;
    margin: 0px;
    font-size: 2em;
    margin: 0 0.5em 0.5em 0;
    font-family: "System";
    letter-spacing: 10px;
}

/* Walls */
.verticalWall{
    position: absolute;
    width: 15px;
    height: 50px;
    left: 35%;
    background-color: orange;
    z-index: 10;
}
.vertical{
    position: absolute;
    width: 15px;
    height: 32px;
    background-color: orange;
    z-index: 10;
}
.verticalWallBS{
    left: 35%;
    top: 0px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
.verticalWallTS{
    left: 35%;
    bottom: 0px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.horizontalWall{
    position: absolute;
    width: 50px;
    height: 15px;
    top: 35%;
    background-color: orange;
    z-index: 10;
}
.horizontal{
    position: absolute;
    width: 32px;
    height: 15px;
    background-color: orange;
    z-index: 10;
}
.horizontalWallLS{
    top: 35%;
    right: 0px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}
.horizontalWallRS{
    top: 35%;
    left: 0px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.tWallTop{
    left: 35%;
    top: 0px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    z-index: 10;
}
.tWallBottom{
    left: 35%;
    bottom: 0px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    z-index: 10;
}

.tWallRight{
    top: 35%;
    left: 0px;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    z-index: 10;
}
.tWallLeft{
    top: 35%;
    right: 0px;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    z-index: 10;
}
.gate{
    position: absolute;
    width: 50px;
    height: 10px;
    top: 40%;
    right: 0px;
    background-color: rgba(192, 192, 192, 0.6);
    background-image: linear-gradient(335deg, rgba(187, 0, 0, 0.6) 4px, transparent 4px),
        linear-gradient(155deg, rgba(221, 0, 0, 0.6) 2.7px, transparent 2.7px),
        linear-gradient(335deg, rgba(187, 0, 0, 0.6) 2.7px, transparent 2.7px),
        linear-gradient(155deg, rgba(221, 0, 0, 0.6) 2.7px, transparent 2.7px);
    background-size: 7.5px 7.5px;
    background-position: 0px 0.8px, 1.1px 4px, 4px 2.5px, 1px 2px;
    border-radius: 10px;
    z-index: 10;
}


/* Coins */
.coin {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
    background: white;
    border-radius: 50% !important;
    z-index: 10;
}
.snack {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    background: white;
    border-radius: 50% !important;
    z-index: 10;
}

.eye{
    background-color: #19181A;
    width: 10px;
    height: 9px;
    border-radius: 50%;
    transition: transform 0.125s;
    transform: translateX(7px) translateY(10px);
}
.eye-move{
    transition: transform 0.125s;
    transform: translateX(13px) translateY(4px) scale(0.7);
}
.mouth{
    background-color: black;
    width: 25px;
    height: 25px;
    transition: transform 0.125s;
    transform: translateX(-32px) translateY(-0px) rotateZ(45deg);
    z-index: 0;
}
.mouth-open{           
    transition: transform 0.125s;
    transform: translateX(-8px) translateY(-0px) rotateZ(45deg);
}

/* Ghosts */
.ghost{
    z-index: 20;
}
.ghost-head {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 70%;
    height: 70%;
    background: blue;
    border-radius: 50% !important;
    display: flex;
    flex-direction: row;
    z-index: 20;
}
.ghost-eye{
    margin-left: 15%;
    background-color: rgb(189, 170, 170);
    height: 25%;
    width: 20%;
    border-radius: 50%;
    transform: translateY(7px) translateX(2.5px);
    z-index: 20;
}
.ghost-body {
    position: absolute;
    width: 70%;
    height: 40%;
    top: 45%;
    left: 10%;
    background-color: blue;
    display: flex;
    flex-direction: row;
    z-index: 20;
}
.ghost-spikes{
    width: 60%;
    height: 80%;
    border-radius: 50%;
    background-color: black;
    transform: translateY(13px);
    z-index: 20;
}

/* Hackman */
.hackmanForm {
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    z-index: 99;
}
.hackmanFill{
    background:conic-gradient(#ff9000 0deg 360deg);
 }   

.eye{
    background-color: #19181A;
    width: 18%;
    height: 18%;
    border-radius: 50%;
    transform: translateX(120%) translateY(100%);
}

.upView{
    transform: rotateZ(90deg) translateX(10%) translateY(-12%);
}
.downView{
    transform: rotateZ(-90deg) translateX(-10%) translateY(12%);
}
.leftView{
    transform: rotateY(0deg) translateX(10%) translateY(12%);
}
.rightView{
    transform: rotateY(-180deg) translateX(-10%) translateY(12%);
}

.move-from-right-to-left{
    animation-name: move-from-right-to-left;
    animation-duration: 0.25s;   
    -webkit-animation-name: move-from-right-to-left; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.25s; /* Chrome, Safari, Opera */
}
.move-from-left-to-right{
    animation-name: move-from-left-to-right;
    animation-duration: 0.25s;   
    -webkit-animation-name: move-from-left-to-right; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.25s; /* Chrome, Safari, Opera */
}
.move-from-up-to-bottom{
    animation-name: move-from-up-to-bottom;
    animation-duration: 0.25s;   
    -webkit-animation-name: move-from-up-to-bottom; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.25s; /* Chrome, Safari, Opera */ 
}
.move-from-bottom-to-up{
    animation-name: move-from-bottom-to-up;
    animation-duration: 0.25s;   
    -webkit-animation-name: move-from-bottom-to-up; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.25s; /* Chrome, Safari, Opera */
}



@keyframes move-from-right-to-left {
    0%  {background:conic-gradient(#ff9000 0deg 360deg);transform: translateX(100%) translateY(12%);}
    7.15%   {background:conic-gradient(#ff9000 265deg, #000 265deg 275deg,#ff9000 275deg 360deg);transform: translateX(92.9%) translateY(12%);}
    14.3%   {background:conic-gradient(#ff9000 260deg, #000 260deg 280deg,#ff9000 280deg 360deg);transform: translateX(85.75%) translateY(12%);}
    21.45%   {background:conic-gradient(#ff9000 255deg, #000 255deg 285deg,#ff9000 285deg 360deg);transform: translateX(78.6%) translateY(12%);}
    28.6%   {background:conic-gradient(#ff9000 250deg, #000 250deg 290deg,#ff9000 290deg 360deg);transform: translateX(71.45%) translateY(12%);}
    35.75%   {background:conic-gradient(#ff9000 245deg, #000 245deg 295deg,#ff9000 295deg 360deg);transform: translateX(64.3%) translateY(12%);}
    42.8%   {background:conic-gradient(#ff9000 240deg, #000 240deg 300deg,#ff9000 300deg 360deg);transform: translateX(57.15%) translateY(12%);}
    50%  {background:conic-gradient(#ff9000 235deg, #000 235deg 305deg,#ff9000 305deg 360deg);transform: translateX(50%) translateY(12%);}
    57.15%   {background:conic-gradient(#ff9000 240deg, #000 240deg 300deg,#ff9000 300deg 360deg);transform: translateX(42.9%) translateY(12%);}
    64.3%   {background:conic-gradient(#ff9000 245deg, #000 245deg 295deg,#ff9000 295deg 360deg);transform: translateX(35.75%) translateY(12%);}
    71.45%   {background:conic-gradient(#ff9000 250deg, #000 250deg 290deg,#ff9000 290deg 360deg);transform: translateX(28.6%) translateY(12%);}
    78.6%   {background:conic-gradient(#ff9000 255deg, #000 255deg 285deg,#ff9000 285deg 360deg);transform: translateX(21.45%) translateY(12%);}
    85.75%   {background:conic-gradient(#ff9000 260deg, #000 260deg 280deg,#ff9000 280deg 360deg);transform: translateX(14.3%) translateY(12%);}
    92.9%   {background:conic-gradient(#ff9000 265deg, #000 265deg 275deg,#ff9000 275deg 360deg);transform: translateX(7.15%) translateY(12%);}
    100%  {background:conic-gradient(#ff9000 0deg 360deg);transform: translateX(0%) translateY(12%);} 
  } 
@-webkit-keyframes move-from-right-to-left {
    0%  {background:conic-gradient(#ff9000 0deg 360deg);transform: translateX(100%) translateY(12%);}
    7.15%   {background:conic-gradient(#ff9000 265deg, #000 265deg 275deg,#ff9000 275deg 360deg);transform: translateX(92.9%) translateY(12%);}
    14.3%   {background:conic-gradient(#ff9000 260deg, #000 260deg 280deg,#ff9000 280deg 360deg);transform: translateX(85.75%) translateY(12%);}
    21.45%   {background:conic-gradient(#ff9000 255deg, #000 255deg 285deg,#ff9000 285deg 360deg);transform: translateX(78.6%) translateY(12%);}
    28.6%   {background:conic-gradient(#ff9000 250deg, #000 250deg 290deg,#ff9000 290deg 360deg);transform: translateX(71.45%) translateY(12%);}
    35.75%   {background:conic-gradient(#ff9000 245deg, #000 245deg 295deg,#ff9000 295deg 360deg);transform: translateX(64.3%) translateY(12%);}
    42.8%   {background:conic-gradient(#ff9000 240deg, #000 240deg 300deg,#ff9000 300deg 360deg);transform: translateX(57.15%) translateY(12%);}
    50%  {background:conic-gradient(#ff9000 235deg, #000 235deg 305deg,#ff9000 305deg 360deg);transform: translateX(50%) translateY(12%);}
    57.15%   {background:conic-gradient(#ff9000 240deg, #000 240deg 300deg,#ff9000 300deg 360deg);transform: translateX(42.9%) translateY(12%);}
    64.3%   {background:conic-gradient(#ff9000 245deg, #000 245deg 295deg,#ff9000 295deg 360deg);transform: translateX(35.75%) translateY(12%);}
    71.45%   {background:conic-gradient(#ff9000 250deg, #000 250deg 290deg,#ff9000 290deg 360deg);transform: translateX(28.6%) translateY(12%);}
    78.6%   {background:conic-gradient(#ff9000 255deg, #000 255deg 285deg,#ff9000 285deg 360deg);transform: translateX(21.45%) translateY(12%);}
    85.75%   {background:conic-gradient(#ff9000 260deg, #000 260deg 280deg,#ff9000 280deg 360deg);transform: translateX(14.3%) translateY(12%);}
    92.9%   {background:conic-gradient(#ff9000 265deg, #000 265deg 275deg,#ff9000 275deg 360deg);transform: translateX(7.15%) translateY(12%);}
    100%  {background:conic-gradient(#ff9000 0deg 360deg);transform: translateX(0%) translateY(12%);} 
  } 

@keyframes move-from-left-to-right {
    0%  {background:conic-gradient(#ff9000 0deg 360deg);transform:rotateY(-180deg) translateX(100%) translateY(12%);}
    7.15%   {background:conic-gradient(#ff9000 265deg, #000 265deg 275deg,#ff9000 275deg 360deg);transform:rotateY(-180deg) translateX(92.9%) translateY(12%);}
    14.3%   {background:conic-gradient(#ff9000 260deg, #000 260deg 280deg,#ff9000 280deg 360deg);transform:rotateY(-180deg) translateX(85.75%) translateY(12%);}
    21.45%   {background:conic-gradient(#ff9000 255deg, #000 255deg 285deg,#ff9000 285deg 360deg);transform:rotateY(-180deg) translateX(78.6%) translateY(12%);}
    28.6%   {background:conic-gradient(#ff9000 250deg, #000 250deg 290deg,#ff9000 290deg 360deg);transform:rotateY(-180deg) translateX(71.45%) translateY(12%);}
    35.75%   {background:conic-gradient(#ff9000 245deg, #000 245deg 295deg,#ff9000 295deg 360deg);transform:rotateY(-180deg) translateX(64.3%) translateY(12%);}
    42.8%   {background:conic-gradient(#ff9000 240deg, #000 240deg 300deg,#ff9000 300deg 360deg);transform:rotateY(-180deg) translateX(57.15%) translateY(12%);}
    50%  {background:conic-gradient(#ff9000 235deg, #000 235deg 305deg,#ff9000 305deg 360deg);transform:rotateY(-180deg) translateX(50%) translateY(12%);}
    57.15%   {background:conic-gradient(#ff9000 240deg, #000 240deg 300deg,#ff9000 300deg 360deg);transform:rotateY(-180deg) translateX(42.9%) translateY(12%);}
    64.3%   {background:conic-gradient(#ff9000 245deg, #000 245deg 295deg,#ff9000 295deg 360deg);transform:rotateY(-180deg) translateX(35.75%) translateY(12%);}
    71.45%   {background:conic-gradient(#ff9000 250deg, #000 250deg 290deg,#ff9000 290deg 360deg);transform:rotateY(-180deg) translateX(28.6%) translateY(12%);}
    78.6%   {background:conic-gradient(#ff9000 255deg, #000 255deg 285deg,#ff9000 285deg 360deg);transform:rotateY(-180deg) translateX(21.45%) translateY(12%);}
    85.75%   {background:conic-gradient(#ff9000 260deg, #000 260deg 280deg,#ff9000 280deg 360deg);transform:rotateY(-180deg) translateX(14.3%) translateY(12%);}
    92.9%   {background:conic-gradient(#ff9000 265deg, #000 265deg 275deg,#ff9000 275deg 360deg);transform:rotateY(-180deg) translateX(7.15%) translateY(12%);}
    100%  {background:conic-gradient(#ff9000 0deg 360deg);transform:rotateY(-180deg) translateX(0%) translateY(12%);} 
  } 
@-webkit-keyframes move-from-left-to-right {
    0%  {background:conic-gradient(#ff9000 0deg 360deg);transform:rotateY(-180deg) translateX(100%) translateY(12%);}
    7.15%   {background:conic-gradient(#ff9000 265deg, #000 265deg 275deg,#ff9000 275deg 360deg);transform:rotateY(-180deg) translateX(92.9%) translateY(12%);}
    14.3%   {background:conic-gradient(#ff9000 260deg, #000 260deg 280deg,#ff9000 280deg 360deg);transform:rotateY(-180deg) translateX(85.75%) translateY(12%);}
    21.45%   {background:conic-gradient(#ff9000 255deg, #000 255deg 285deg,#ff9000 285deg 360deg);transform:rotateY(-180deg) translateX(78.6%) translateY(12%);}
    28.6%   {background:conic-gradient(#ff9000 250deg, #000 250deg 290deg,#ff9000 290deg 360deg);transform:rotateY(-180deg) translateX(71.45%) translateY(12%);}
    35.75%   {background:conic-gradient(#ff9000 245deg, #000 245deg 295deg,#ff9000 295deg 360deg);transform:rotateY(-180deg) translateX(64.3%) translateY(12%);}
    42.8%   {background:conic-gradient(#ff9000 240deg, #000 240deg 300deg,#ff9000 300deg 360deg);transform:rotateY(-180deg) translateX(57.15%) translateY(12%);}
    50%  {background:conic-gradient(#ff9000 235deg, #000 235deg 305deg,#ff9000 305deg 360deg);transform:rotateY(-180deg) translateX(50%) translateY(12%);}
    57.15%   {background:conic-gradient(#ff9000 240deg, #000 240deg 300deg,#ff9000 300deg 360deg);transform:rotateY(-180deg) translateX(42.9%) translateY(12%);}
    64.3%   {background:conic-gradient(#ff9000 245deg, #000 245deg 295deg,#ff9000 295deg 360deg);transform:rotateY(-180deg) translateX(35.75%) translateY(12%);}
    71.45%   {background:conic-gradient(#ff9000 250deg, #000 250deg 290deg,#ff9000 290deg 360deg);transform:rotateY(-180deg) translateX(28.6%) translateY(12%);}
    78.6%   {background:conic-gradient(#ff9000 255deg, #000 255deg 285deg,#ff9000 285deg 360deg);transform:rotateY(-180deg) translateX(21.45%) translateY(12%);}
    85.75%   {background:conic-gradient(#ff9000 260deg, #000 260deg 280deg,#ff9000 280deg 360deg);transform:rotateY(-180deg) translateX(14.3%) translateY(12%);}
    92.9%   {background:conic-gradient(#ff9000 265deg, #000 265deg 275deg,#ff9000 275deg 360deg);transform:rotateY(-180deg) translateX(7.15%) translateY(12%);}
    100%  {background:conic-gradient(#ff9000 0deg 360deg);transform:rotateY(-180deg) translateX(0%) translateY(12%);} 
  } 

@keyframes move-from-up-to-bottom {
    0%  {background:conic-gradient(#ff9000 0deg 360deg);transform:rotateZ(-90deg) translateX(100%) translateY(12%);}
    7.15%   {background:conic-gradient(#ff9000 265deg, #000 265deg 275deg,#ff9000 275deg 360deg);transform:rotateZ(-90deg) translateX(92.9%) translateY(12%);}
    14.3%   {background:conic-gradient(#ff9000 260deg, #000 260deg 280deg,#ff9000 280deg 360deg);transform:rotateZ(-90deg) translateX(85.75%) translateY(12%);}
    21.45%   {background:conic-gradient(#ff9000 255deg, #000 255deg 285deg,#ff9000 285deg 360deg);transform:rotateZ(-90deg) translateX(78.6%) translateY(12%);}
    28.6%   {background:conic-gradient(#ff9000 250deg, #000 250deg 290deg,#ff9000 290deg 360deg);transform:rotateZ(-90deg) translateX(71.45%) translateY(12%);}
    35.75%   {background:conic-gradient(#ff9000 245deg, #000 245deg 295deg,#ff9000 295deg 360deg);transform:rotateZ(-90deg) translateX(64.3%) translateY(12%);}
    42.8%   {background:conic-gradient(#ff9000 240deg, #000 240deg 300deg,#ff9000 300deg 360deg);transform:rotateZ(-90deg) translateX(57.15%) translateY(12%);}
    50%  {background:conic-gradient(#ff9000 235deg, #000 235deg 305deg,#ff9000 305deg 360deg);transform:rotateZ(-90deg) translateX(50%) translateY(12%);}
    57.15%   {background:conic-gradient(#ff9000 240deg, #000 240deg 300deg,#ff9000 300deg 360deg);transform:rotateZ(-90deg) translateX(42.9%) translateY(12%);}
    64.3%   {background:conic-gradient(#ff9000 245deg, #000 245deg 295deg,#ff9000 295deg 360deg);transform:rotateZ(-90deg) translateX(35.75%) translateY(12%);}
    71.45%   {background:conic-gradient(#ff9000 250deg, #000 250deg 290deg,#ff9000 290deg 360deg);transform:rotateZ(-90deg) translateX(28.6%) translateY(12%);}
    78.6%   {background:conic-gradient(#ff9000 255deg, #000 255deg 285deg,#ff9000 285deg 360deg);transform:rotateZ(-90deg) translateX(21.45%) translateY(12%);}
    85.75%   {background:conic-gradient(#ff9000 260deg, #000 260deg 280deg,#ff9000 280deg 360deg);transform:rotateZ(-90deg) translateX(14.3%) translateY(12%);}
    92.9%   {background:conic-gradient(#ff9000 265deg, #000 265deg 275deg,#ff9000 275deg 360deg);transform:rotateZ(-90deg) translateX(7.15%) translateY(12%);}
    100%  {background:conic-gradient(#ff9000 0deg 360deg);transform:rotateZ(-90deg) translateX(0%) translateY(12%);} 
  } 
@-webkit-keyframes move-from-up-to-bottom {
    0%  {background:conic-gradient(#ff9000 0deg 360deg);transform:rotateZ(-90deg) translateX(100%) translateY(12%);}
    7.15%   {background:conic-gradient(#ff9000 265deg, #000 265deg 275deg,#ff9000 275deg 360deg);transform:rotateZ(-90deg) translateX(92.9%) translateY(12%);}
    14.3%   {background:conic-gradient(#ff9000 260deg, #000 260deg 280deg,#ff9000 280deg 360deg);transform:rotateZ(-90deg) translateX(85.75%) translateY(12%);}
    21.45%   {background:conic-gradient(#ff9000 255deg, #000 255deg 285deg,#ff9000 285deg 360deg);transform:rotateZ(-90deg) translateX(78.6%) translateY(12%);}
    28.6%   {background:conic-gradient(#ff9000 250deg, #000 250deg 290deg,#ff9000 290deg 360deg);transform:rotateZ(-90deg) translateX(71.45%) translateY(12%);}
    35.75%   {background:conic-gradient(#ff9000 245deg, #000 245deg 295deg,#ff9000 295deg 360deg);transform:rotateZ(-90deg) translateX(64.3%) translateY(12%);}
    42.8%   {background:conic-gradient(#ff9000 240deg, #000 240deg 300deg,#ff9000 300deg 360deg);transform:rotateZ(-90deg) translateX(57.15%) translateY(12%);}
    50%  {background:conic-gradient(#ff9000 235deg, #000 235deg 305deg,#ff9000 305deg 360deg);transform:rotateZ(-90deg) translateX(50%) translateY(12%);}
    57.15%   {background:conic-gradient(#ff9000 240deg, #000 240deg 300deg,#ff9000 300deg 360deg);transform:rotateZ(-90deg) translateX(42.9%) translateY(12%);}
    64.3%   {background:conic-gradient(#ff9000 245deg, #000 245deg 295deg,#ff9000 295deg 360deg);transform:rotateZ(-90deg) translateX(35.75%) translateY(12%);}
    71.45%   {background:conic-gradient(#ff9000 250deg, #000 250deg 290deg,#ff9000 290deg 360deg);transform:rotateZ(-90deg) translateX(28.6%) translateY(12%);}
    78.6%   {background:conic-gradient(#ff9000 255deg, #000 255deg 285deg,#ff9000 285deg 360deg);transform:rotateZ(-90deg) translateX(21.45%) translateY(12%);}
    85.75%   {background:conic-gradient(#ff9000 260deg, #000 260deg 280deg,#ff9000 280deg 360deg);transform:rotateZ(-90deg) translateX(14.3%) translateY(12%);}
    92.9%   {background:conic-gradient(#ff9000 265deg, #000 265deg 275deg,#ff9000 275deg 360deg);transform:rotateZ(-90deg) translateX(7.15%) translateY(12%);}
    100%  {background:conic-gradient(#ff9000 0deg 360deg);transform:rotateZ(-90deg) translateX(0%) translateY(12%);} 
  } 

@keyframes move-from-bottom-to-up {
    0%  {background:conic-gradient(#ff9000 0deg 360deg);transform:rotateZ(90deg) translateX(100%) translateY(12%);}
    7.15%   {background:conic-gradient(#ff9000 265deg, #000 265deg 275deg,#ff9000 275deg 360deg);transform:rotateZ(90deg) translateX(92.9%) translateY(12%);}
    14.3%   {background:conic-gradient(#ff9000 260deg, #000 260deg 280deg,#ff9000 280deg 360deg);transform:rotateZ(90deg) translateX(85.75%) translateY(12%);}
    21.45%   {background:conic-gradient(#ff9000 255deg, #000 255deg 285deg,#ff9000 285deg 360deg);transform:rotateZ(90deg) translateX(78.6%) translateY(12%);}
    28.6%   {background:conic-gradient(#ff9000 250deg, #000 250deg 290deg,#ff9000 290deg 360deg);transform:rotateZ(90deg) translateX(71.45%) translateY(12%);}
    35.75%   {background:conic-gradient(#ff9000 245deg, #000 245deg 295deg,#ff9000 295deg 360deg);transform:rotateZ(90deg) translateX(64.3%) translateY(12%);}
    42.8%   {background:conic-gradient(#ff9000 240deg, #000 240deg 300deg,#ff9000 300deg 360deg);transform:rotateZ(90deg) translateX(57.15%) translateY(12%);}
    50%  {background:conic-gradient(#ff9000 235deg, #000 235deg 305deg,#ff9000 305deg 360deg);transform:rotateZ(90deg) translateX(50%) translateY(12%);}
    57.15%   {background:conic-gradient(#ff9000 240deg, #000 240deg 300deg,#ff9000 300deg 360deg);transform:rotateZ(90deg) translateX(42.9%) translateY(12%);}
    64.3%   {background:conic-gradient(#ff9000 245deg, #000 245deg 295deg,#ff9000 295deg 360deg);transform:rotateZ(90deg) translateX(35.75%) translateY(12%);}
    71.45%   {background:conic-gradient(#ff9000 250deg, #000 250deg 290deg,#ff9000 290deg 360deg);transform:rotateZ(90deg) translateX(28.6%) translateY(12%);}
    78.6%   {background:conic-gradient(#ff9000 255deg, #000 255deg 285deg,#ff9000 285deg 360deg);transform:rotateZ(90deg) translateX(21.45%) translateY(12%);}
    85.75%   {background:conic-gradient(#ff9000 260deg, #000 260deg 280deg,#ff9000 280deg 360deg);transform:rotateZ(90deg) translateX(14.3%) translateY(12%);}
    92.9%   {background:conic-gradient(#ff9000 265deg, #000 265deg 275deg,#ff9000 275deg 360deg);transform:rotateZ(90deg) translateX(7.15%) translateY(12%);}
    100%  {background:conic-gradient(#ff9000 0deg 360deg);transform:rotateZ(90deg) translateX(0%) translateY(12%);} 
  } 
@-webkit-keyframes move-from-bottom-to-up {
    0%  {background:conic-gradient(#ff9000 0deg 360deg);transform:rotateZ(90deg) translateX(100%) translateY(12%);}
    7.15%   {background:conic-gradient(#ff9000 265deg, #000 265deg 275deg,#ff9000 275deg 360deg);transform:rotateZ(90deg) translateX(92.9%) translateY(12%);}
    14.3%   {background:conic-gradient(#ff9000 260deg, #000 260deg 280deg,#ff9000 280deg 360deg);transform:rotateZ(90deg) translateX(85.75%) translateY(12%);}
    21.45%   {background:conic-gradient(#ff9000 255deg, #000 255deg 285deg,#ff9000 285deg 360deg);transform:rotateZ(90deg) translateX(78.6%) translateY(12%);}
    28.6%   {background:conic-gradient(#ff9000 250deg, #000 250deg 290deg,#ff9000 290deg 360deg);transform:rotateZ(90deg) translateX(71.45%) translateY(12%);}
    35.75%   {background:conic-gradient(#ff9000 245deg, #000 245deg 295deg,#ff9000 295deg 360deg);transform:rotateZ(90deg) translateX(64.3%) translateY(12%);}
    42.8%   {background:conic-gradient(#ff9000 240deg, #000 240deg 300deg,#ff9000 300deg 360deg);transform:rotateZ(90deg) translateX(57.15%) translateY(12%);}
    50%  {background:conic-gradient(#ff9000 235deg, #000 235deg 305deg,#ff9000 305deg 360deg);transform:rotateZ(90deg) translateX(50%) translateY(12%);}
    57.15%   {background:conic-gradient(#ff9000 240deg, #000 240deg 300deg,#ff9000 300deg 360deg);transform:rotateZ(90deg) translateX(42.9%) translateY(12%);}
    64.3%   {background:conic-gradient(#ff9000 245deg, #000 245deg 295deg,#ff9000 295deg 360deg);transform:rotateZ(90deg) translateX(35.75%) translateY(12%);}
    71.45%   {background:conic-gradient(#ff9000 250deg, #000 250deg 290deg,#ff9000 290deg 360deg);transform:rotateZ(90deg) translateX(28.6%) translateY(12%);}
    78.6%   {background:conic-gradient(#ff9000 255deg, #000 255deg 285deg,#ff9000 285deg 360deg);transform:rotateZ(90deg) translateX(21.45%) translateY(12%);}
    85.75%   {background:conic-gradient(#ff9000 260deg, #000 260deg 280deg,#ff9000 280deg 360deg);transform:rotateZ(90deg) translateX(14.3%) translateY(12%);}
    92.9%   {background:conic-gradient(#ff9000 265deg, #000 265deg 275deg,#ff9000 275deg 360deg);transform:rotateZ(90deg) translateX(7.15%) translateY(12%);}
    100%  {background:conic-gradient(#ff9000 0deg 360deg);transform:rotateZ(90deg) translateX(0%) translateY(12%);} 
  } 